{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Administrateur{% endblock %}

{% block body %}
    <h1>Admin Dashboard</h1>
    <p>(Uniquement visible par les Admins)</p>
{% endblock %}
